.scroll-top-arrow {
  position: fixed;
  right: 25px;
  bottom: 40px;
  width: 45px;
  height: 45px;
  background: #0b3c5d;
  color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  cursor: pointer;
  z-index: 999;

  transition: transform 0.3s ease, background 0.3s ease;
}

.scroll-top-arrow:hover {
  background: #ffcc00;
  transform: translateY(-4px);
}
